.page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-subtle);
  border-bottom: 1.5px solid var(--border);
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 2rem;
}

.page-header__back {
  font-family: var(--font-1);
  font-weight: var(--heavy);
  font-size: 1.2rem;
  color: var(--primary)
}

.page-header__name {
  font-family:  var(--font-2);
  font-size:    1.5rem;
  font-weight:  calc(var(--heavy) * 1.2);
  color:        var(--text);
  flex: 1;
  text-align: center;
}

.page-header__name:hover {
  color: var(--primary);
  opacity: 1;
}

.page-header__nav {
  display: flex;
  margin-left: auto;
  gap: 1.5rem;
}

.page-header__link {
  font-weight: var(--heavy);
  color: var(--text-muted);
  transition: color var(--transition);
}

.page-header__link:hover {
  color: var(--primary);
  opacity: 1;
}

.page-header__link--active {
  color: var(--primary);
}

.page-header__theme {
  display: flex;
}